.Rproj.user
.Rhistory
.Renviron
.Renviron-for-Lisa.txt
.RData
.Ruserdata
.env
shiny-server.log
shiny-server.pid
shiny-server.sock
.Rapp.history
.Rapp.session
.Rapp.user
.Rapp.token
.Rapp.secret
.Rapp.auth
.Rapp.auth.token
.Rapp.auth.secret
.Rapp.auth.user
.Rapp.auth.token.user
.Rapp.auth.secret.user
.Rapp.auth.admin
.Rapp.auth.token.admin
.Rapp.auth.secret.admin
.Rapp.auth.user.admin
.Rapp.auth.token.user.admin
.Rapp.auth.secret.user.admin
.Rapp.auth.superadmin
.Rapp.auth.token.superadmin
.Rapp.auth.secret.superadmin
.Rapp.auth.user.superadmin
.Rapp.auth.token.user.superadmin
.Rapp.auth.secret.user.superadmin
.Rproj
.DS_Store
i-spi-add-fcuploader.Rproj
/dead
/simulate